body{
  background: -webkit-linear-gradient(to right, #1d976c, #93f9b9);
  background: linear-gradient(to right, #11998e, #38ef7d);
  margin: 0;

}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 28px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
  background-color: #111;
  height: 5px;
}

ul.topnav li a.active {background-color: #4CAF50;
  height: 20px;
}

ul.topnav li.right {float: right;}

#tag{
  color:#FFEEEE;
  text-align: center;
  padding-top: 100px;
  font-family: 'Lobster', cursive;
  font-size: 28px;;
  letter-spacing: 6px;
}



.box {
  position: relative;
  display: block;
  width: 23%;
  margin: 0 auto;
  font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
  font-size: 18px;
  color: #60666d;
  height:40px;
  border-radius: 3%;
background-color:#C6FFDD}

.fas{
  color: black;
}

/*Slideshow*/

#slideshow{
  height: 800px;
  width: 900px;
  margin-top: 7.8%;;
  margin-left: 300px;
}

/*why choose us*/

.white-section {
  background-color: #fff;
  text-align: center;
}

#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 4.5%;
}

.icon {
  color: #20BDFF;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}